#body{
    background-color: wheat;
}
#color1{
    background-color: #0000FF;
    width: 100px;
    height: 100px;
}
#color2{
    background-color: #808080;
    width: 100px;
    height: 100px;
}
#color3{
    background-color: #008000;
    width: 100px;
    height: 100px;
}
#color4{
    background-color: #00FFFF;
    width: 100px;
    height: 100px;
}
#background-color{
    width: 410px;
    height: 50px;
    background-color: black;
    margin-left: 400px;
    padding: 10px;
    text-align: center;
    color: white;
}
.parent{
    margin-top: 250px;
    margin-left: 400px;
}